# Original code
backup/FloorplanToBlender3d_origin/
backup/pytorch-CycleGAN-and-pix2pix/
backup/Pix2pix/
backup/pytorch-hed/

HandToBlueprint/file_change/pytorch-hed-master/
HandToBlueprint/torch_learning/pytorch-CycleGAN-and-pix2pix-master/

# Ignore directory
backup/etc/
Babylon/

# Security
AR-zipp/resources


# Files
*.fbx
*.glb
*.png
*.jpg
*.jpeg
*.gif
*.txt
*.ini
*.blend
*.json
*.PNG

# etc
__pycache__/