# Original code
HandToBlueprint/file_change/pytorch-hed-master/
HandToBlueprint/torch_learning/pytorch-CycleGAN-and-pix2pix-master/


# Ignore directory
backup/Babylon/
backup/FloorplanToBlender3d_origin/
backup/own_test/
backup/Pix2pix/
backup/pytorch-CycleGAN-and-pix2pix/
backup/pytorch-hed/
backup/Stable_diffusion/
backup/unreal_test_API/


# Security
AR-zipp/resources/security/


# Data
AR-zipp/Statics/
AR-zipp/resources/


# Files
*.fbx
*.glb
*.gltf
*.gif
*.blend
*.json
*.pt
*.bin


# etc
/__pycache__/