# Original code
backup/FloorplanToBlender3d_origin/
backup/pytorch-CycleGAN-and-pix2pix/
backup/Pix2pix/
backup/pytorch-hed/

# Ignore directory
backup/etc/

# Security
AR-zipp/resources


# Files
*.fbx
*.png
*.jpg
*.jpeg
*.gif
*.txt
*.ini
*.blend
*.json


# etc
__pycache__/