fastapi==0.104.1
uvicorn==0.24.0.post1
Pillow==10.0.1
boto3==1.29.1
easyocr==1.7.1
requests==2.31.0
matplotlib==3.7.3
pyfiglet==0.8.post1
python-multipart==0.0.6
opencv-python==4.2.0.34 

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.1+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1